html {
  background-color: rgb(251, 204, 252);
}
a {
  color: rgb(142, 167, 163);
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  justify-content: space-between;
}

#main {
  font-size: 40px;
  justify-content: center;
}

header {
  background-color: red;
  padding: 10px;
  opacity: 0.3;
}


.top {
   border: 1px solid red;
   height: 600px;
   width: cover;
   background-repeat: no-repeat;
   background-image:url('images/header.png');
   background-attachment: fixed;
 }

 .newAlbum {
    border: 1px solid red;
    height: 600px;
    width: cover;
}

.newAlbum a {
  background-color: black;
  padding: 10px;
  font-size: 15px;
}

.news {
   border: 1px solid red;
   height: 600px;
   width: cover;
   color: white;
}

.tourDates {
   border: 1px solid red;
   height: 600px;
   width: cover;
}

.newsLetter {
   border: 1px solid red;
   height: 600px;
   width: cover;
}

button {
  background-color: red;
  border-radius: 40%;
}
